body{
    background-color: #F3F3F3;
}
.container {
    width: 1205px;
    margin:0 auto;
}
.box  {
    background-color: #dedede;
    line-height:50px;
    font-size:16px;
    text-align: center;
    overflow: hidden;
}
.box span{
    float: left;
    width: 80px;
    margin-left: 90px;
}
.box a {
    float: left;
    margin:0 10px;
    text-decoration: none;
    color: #404040;
}

.list {
    width: 1205px;
    margin-top: 20px;
}

.list li{
    float: left;
    margin:0 10px 10px 0;
}

.list li a{
    background: #FFF;
    padding:0 16px;
    display: block;
    width:193px;
    border: 3px solid transparent;
    color: #595959;
}
.list li a img{
    display: block;
    width:100%;
}